:root {
    --backgroud: #12151D;
    --background-white: #24272ef4;
    --red: #FF0075;
    --red-lite: #ff00771f;
    --red-dark: #c6005c;
    --yellow: #FFDE00;
    --yellow-dark: #c7ac00;
    --white: #FFFFFF;
    --green: #2BC7A0;
    --card-background: #24272ee7;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: white;
}

*::selection {
    color: black;
    background-color: var(--yellow);
}


body {
    background-color: var(--backgroud);
    width: 100%;
}


.container{
    width: 100%;

}
.wrapper{
    padding: 20px;
    display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        /* align-items: center; */
}
.heading{
    width:70%;
    padding: 10px;
    margin: auto;
    /* border: 1px solid red; */
            border-radius: 10px;
                background: var(--card-background);
}
.title-img{
    height: 300px;
    width: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--card-background);
}


.title-img img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    background: var(--card-background);
}

.title{
    padding: 10px;
    margin-top:20px;
    /* font-size:28px; */
}

.title h1 {
    position: relative;
}

.title h1::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 60px;
    height: 4px;
    background-color: var(--yellow);
    transition: 0.3s ease-in-out;
}





.body{
    padding: 20px;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    background: var(--card-background);
}

.body img{
    width:100%!important;
    height: 400px !important;
    object-fit: cover;
    overflow:hidden;
}

.body img{
    width:100%;
    height: 200px;
    object-fit: cover;
}

.body p{
    line-height: 30px;
    font-size: 14px;
    margin:10px 0;
}

.body h2, .body h1, .body h3,.body h4{
    position:relative;
    margin: 20px 0;
}

.body pre{
    border-left:2px solid var(--red);
    margin:20px 0;
    padding: 10px;
    background: #12151D;
    border-radius: 10px;
    line-height:35px;
}

.body ul{
    width:90%;
    margin:auto;
}

.body h2::after, .body h1::after{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 24px;
    height: 4px;
    background-color: var(--yellow);
    transition: 0.3s ease-in-out;
}



@media screen and (max-width: 680px) {
    .wrapper{
        padding: 10px;
    }
    .heading{
        width: 100%;
    }
    .body{
        width: 100%;
    }
}