:root {
    --backgroud: #12151D;
    --red: #FF0075;
    --red-lite: #ff00771f;
    --red-lite-2: #ff0077a6;
    --yellow: #FFDE00;
    --white: #FFFFFF;
    --green: #2BC7A0;
    --card-background: #24272ee7;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    user-select: text;
}

*::selection{
    color:black;
    background-color: var(--yellow);
}


body {
    background-color: var(--backgroud);
    width: 100%;
    height: 100vh;
}

.qr-box{
    width: 80%;
    max-width: 400px;
    height: 400px;
    background: #ffff;
    border-radius: 10px;
}
.qr-wrapper{
    padding:20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

.qr-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    color:white;
}

input[type="file"] {
    display: none;
}

button[type="submit"]{
    padding: 10px 20px;
    border-radius: 8px;
    outline: none;
    background: var(--red);
    color:white;
    cursor: pointer;
    border:0;
}

button[type="submit"]:hover{
    background: var(--red-lite-2);
}

.upload {
    padding: 2px 10px;
    /* width: 100%; */
}

label {
    padding: 2px 10px;
    display: block;
    position: relative;
    background-color: var(--yellow);
    color: black;
    /* color: #ffffff; */
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: 32px;
    margin: auto;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s all;
}

label:hover{
    color:white;
    background: var(--red);
}

form{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px   ;
}