
{% extends 'base.html'%}
{% load static %}

{% block title %}
   TheGadgetsMaker
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock %}


{% block root %}
<section id="hero">
    <div class="box">
        <h1> <span>TheGadgetsMaker</span></h1>
        <p>Unlock the potential of <span>IoT</span><br  />
        with our innovative projects and tutorials.</p>
        <div class="btn-group">
            <a href="https://www.youtube.com/@thegadgetsmaker3509">Youtube</a>
            <a href="/courses">Courses</a>
        </div>
    </div>
    <img src="{% static 'home/chip.png' %}" alt="chip">
</section>

<section class="feature">
    <div class="text-box">
        <span>Bringing</span>  the power of connectivity to your <span>fingertips</span> <br>- one project at a time.
    </div>
    <div class="imgbox">
        <img src="{% static 'home/chipset.jpg' %}" alt="chipset">
    </div>
</section>

<section class="feature">

    <div class="imgbox">
        <img  src="{% static 'home/chipset2.jpg' %}" alt="chipset">
    </div>
    <div class="text-box">
        Explore innovative IoT projects and tutorials,<span><br/> inspiring makers</span> and demonstrating the transformative <span>potential of IoT</span> .
        <br> Join the journey!
    </div>
</section>



<section id="blog" class="feature">
    <div class="section-heading">
        Blog
    </div>

    {% for c in blogs %}
        <div class="course-wrapper">

            <div class="course-line">
                <div class="img-box">
                    <div class="img">
                        <div class="red decorator">
                            <div class="skew"></div>
                            <div class="skew"></div>
                            <div class="skew"></div>
                        </div>
                        <div class="yellow decorator">
                            <div class="skew"></div>
                            <div class="skew"></div>
                            <div class="skew"></div>
                        </div>
                        <a href="/blogs/blog/{{c.id}}"><img src="media/{{c.title_img}}" alt=""></a>
                    </div>
                </div>
                <div class="course-info">
                    <div class="course-heading">
                        <h2><a href="/blogs/blog/{{c.id}}"> {{c.title}}</a></h2>
                    </div>

                    <div class="short-info">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ipsum odit exercitationem sequi dolores ex dolorum quisquam quas labore saepe qui at, explicabo nihil quos in commodi obcaecati necessitatibus minima! Corporis, culpa.
                        </p>

                        <div class="time">
                            <span> <a href="/blogs/blog/{{c.id}}">Read More</a>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    {%endfor%}
</section>

{% endblock %}