@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');

:root {
    --background: #12151D;
    --red: #FF0075;
    --yellow: #FFDE00;
    --white: #FFFFFF;
    --green: #2BC7A0;
    --card-background: #24272ee7;

}
body{
    width: 100%;
    overflow-x:hidden;
}
.background{
    /* position: absolute;
    width: 100px;
    height: 100px;
    background: var(--green); */
}

/* .background::after{
    content: ' ';
    position: absolute;
    right:10px;
    top:20%;
    width: 30px;
    height: 30px;
    background: var(--green);


} */

.background .circle-1{
    position: absolute;
        /* left: 1450%; */
        /* top: -100%; */
        right:-100px;
        top:-50px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        opacity: 0.6;
        background: var(--green);
        filter: blur(800px);
        z-index: -1;
}

.background .circle-2 {
    position: absolute;
    /* left: 1450%; */
    /* top: -100%; */
    left: -100px;
    bottom: -50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0.6;
    background: var(--green);
    filter: blur(800px);
    z-index: -1;
}