@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');

:root {
    --background: #12151D;
    --red: #FF0075;
    --yellow: #FFDE00;
    --white: #FFFFFF;
    --green: #2BC7A0;
    --card-background: #24272ee7;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}


body {
    background-color: var(--background);
    width: 100%;
    height: 80vh;
}

.container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}

.status{
    font-size: 100px;
    color:var(--yellow);
}
.msg{
    font-size: 30px;
    color: white;
}