{% extends 'base.html'%}
{% load static %}
{% block title %}
   {{course.title}}
{% endblock %}
{%block css %}
<link rel="stylesheet" href="{% static 'courses/course.css' %}">
{% endblock %}
{% block root %}
<section id="course">
        <div class="course-box">
            <div class="title-img">
                <img src="{{img_url}}{{file.file_title_img}}" alt="{{course.title}}">
            </div>
            <div class="title">
                {{file.file_title}}
            </div>

                {{show_payment_link}}
            <div class="payment">

                {% if show_payment_link %}
                <div class="price-box">
              {{file.price}}Rs
            </div>
<a href="/payment/code/{{file.id}}" id="pay_online">purchase</a>
<a href="/payment/code/upi/{{file.id}}" id="pay_upi">purchase via upi </a>
{% endif %}

                {% if not show_payment_link%}
                    meet_link : <a href="{{ file.file.url }}" download id="pay_online">Download Zip </a>
                {% endif %}
<!--                <button id="pay_online">Purchase Online</button>-->
<!--                <button id="pay_upi">Purchase UPI</button>-->
            </div>
        </div>
        <div class="heading">
            <div class="title">
                {{file.file_title}}
            </div>
            <div class="short-desc">
               {{file.short_des}}
            </div>
        </div>
        <div class="details">
            {{course.description|safe }}
        </div>
    </section>






{% endblock %}

