@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');

:root {
    --background: #12151D;
    --red: #FF0075;
    --yellow: #FFDE00;
    --white: #FFFFFF;
    --green: #2BC7A0;
    --card-background: #24272ee7;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}



.form-container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container input {
    height: 32px;
    width: 80%;
    position: relative;
    border-radius: 30px;
    outline: 0;
    padding: 0 10px;
    box-shadow: 7px 6px 24px rgba(0, 0, 0, 0.24);
}

input[type="file"] {
    display: none;
}
.upload{
    width: 80%;
}
label {
    display: block;
    position: relative;
    background-color: var(--green);
    color:black;
    /* color: #ffffff; */
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: 32px;
    margin: auto;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box{
    display: none;
    width: 350px;
    height: 450px;
    color: white;
    background: var(--card-background);
    border-radius: 8px;
    position: absolute;
    transition: all 1s;
}

.form-box.active{
    display: block;
}

.form-box form{
    width: 100%;
    height: 100%;
    display: flex;
    gap:20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form-box::after {
    content: '';
    width: 120px;
    height: 300px;
    left: -1px;
    top: -1px;
    z-index: -1;
    border-radius: 8px;
    position: absolute;
    background: var(--yellow);
    background: linear-gradient(135deg, var(--yellow) 0%, rgba(9, 9, 121, 0) 29%, rgba(0, 212, 255, 0) 100%);
}

.form-box::before {
    content: '';
    width: 300px;
    height: 120px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    border-radius: 8px;
    position: absolute;
    background: var(--red);
    background: linear-gradient(-45deg, var(--red) 0%, rgba(9, 9, 121, 0) 29%, rgba(0, 212, 255, 0) 100%);
}

.form-box #register-btn{
    color:white;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    width: 120px;
    height: 32px;
    border:1px solid white;
    border-radius: 30px;
    background: transparent;
    transition: all 0.3s;
}

.form-box #register-btn:hover {
    border: 1px solid var(--red);
    background-color: var(--red);
}

.form-box[id="register-form"]{
    height: 400px;
    width: 60%;
    max-width: 700px;
    min-width: 350px;
}

.form-box button[type="submit"]{
    height:32px;
    width:120px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px solid #fff;
    border-radius:30px;
    background:transparent;
    color:white;
    transition: 0.3s all;
    cursor:pointer;
}

.form-box button[type="submit"]:hover{
    background:var(--yellow);
    border:1px solid var(--yellow);
    color:black;

}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.row .col{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
}


.curton{
    width: 100%;
    height: 100vh;
    position: fixed;
    left:0;
    top: -110%;
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: 0.5s all ease-in-out;
    border-bottom: 1px solid var(--red);
}

@keyframes curonA {
    0%{
        top:-110%;
    }
    35%{
        top:0;
    }
    75%{
        top:0;
    }
    100%{
        top:-110%;
    }
}

.curton.active {
    animation: curonA;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.curton .title{
    font-size: 30px;
    color:white;
    position: relative;
}

.curton .title::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 40%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--yellow);
    transition: 0.3s ease-in-out;
}

#open-login,#open_register{
    position: absolute;
    bottom: 10px;
    left:10px;
    cursor: pointer;
    text-decoration:underline   ;
}



@media screen and (max-width: 800px){
    .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
        width: 100%;
    }
        .row .col{
            width: 100%;
        }

    .form-box[id="register-form"]{
        margin-top:100px;
        height: 550px;
    }
}