{% extends 'base.html'%}
{% load static %}

{% block title %}
   Code Purchased
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'purchase/success.css' %}">
{% endblock %}

{% block root %}
<div class="cards-wrapper">
    <div class="card-wrapper">
        <div class="heading">
            <h1>Thank You for your order !</h1>
            <p>
                Confirmation Email had been send
            </p>
        </div>

        <div class="product-info">
            <a href="/codes/code/{{file.id}}" class="title">
            <div>
                {{file.file_title}}
            </div>
                </a>
            <div class="amount">
                {{file.price}} RS
            </div>
        </div>

        <div class="payment">
            <span>payment id: {{payment_id}}</span>
        </div>
    </div>
    </div>
{% endblock %}