{% extends 'base.html'%}
{% load static %}

{% block title %}
   uploaded successfully
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'purchase/upiwait.css' %}">
{% endblock %}
{% block root %}
<div class="flex-wrapper">
    <div class="w">
        <div class="upi-title">
            Your UPI Request has been Received ... <br />
            We will email when our admin approve it
        </div>
        <a href="/courses/">Explore More</a>
    </div>

</div>
{% endblock %}