<!DOCTYPE html>
{% load static %}
{% load tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
        {% block css %}{% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'base/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'base/background.css' %}">


</head>
<body>
    <div class="background">
        <div class="circle-1"></div>
        <div class="circle-2"></div>
    </div>
        <nav id="navbar">
        <div class="logo-text">
            <a href="/"> THEGADGETSMAKER</a>
        </div>
        <div class="nav-links">

            {% for u in urls %}
            <div class="link {{urls|dict_value:u|dict_value:"status"}}"><a href="{{urls|dict_value:u|dict_value:"url"}}">{{u}}</a></div>
            {% endfor %}

            {% if user|in_group:"super" %}
                <div class="link"><a href="/admin"></a> </div>
            {% endif %}

        </div>

        <div class="search-box">
            <div class="search-logo"><i class="bi bi-search"></i></div>
            <input type="text" class="search-input" placeholder="search ... " name="search">
        </div>
            {% if user.is_authenticated  %}
                    <div class="profile-wrapper">

            <button class="nametag">Hi, {{user.username}} <div class="logout-btn"> <a href="/auth/logout">Logout</a></div></button>
        <div class="profile">
            <img src="{{ user_info.profile.url }}" alt="profile">
        </div>
                    </div>
            {% else %}
            <div class="login-btn">
            <a href="/auth">Sign up</a>
        </div>

            {% endif %}
        <div class="menu" id="menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <section id="sidebar">
        <div class="navbar-background">
            <div class="circle"></div>
            <div class="circle-bottom"></div>
        </div>
         {% if user.is_authenticated and verified %}
        <div class="mob-profile">
            <img src="{{img_url}}{{ user_info.profile }}" alt="profile">
        </div>
            {% else %}
            <div class="mob-login-btn">
            <a href="/auth">Sign up</a>
        </div>

            {% endif %}
        <div id="close-sidebar">
            X
        </div>
        <div class="mob-nav-links">
            {% for u in urls %}
            <div class="mob-link {{urls|dict_value:u|dict_value:"status"}}"><a href="{{urls|dict_value:u|dict_value:"url"}}">{{u}}</a></div>
            {% endfor %}
        </div>
    </section>
    {% if page_msg %}
    <section id="msg-box">
        <p>{{ page_msg }}</p>
        <div onclick="closemsg()" class="close-btn">X</div>
    </section>
    {% endif %}
{% block root %}{% endblock %}



<footer class="footer-distributed">

    <div class="footer-left">

        <h3><img src="{% static 'base/index.jpeg' %}" alt=""></h3>

        <p class="footer-links">
            <a href="/">Home</a>
            ·
            <a href="/blogs">Blog</a>
            ·
            <a href="/courses">Courses</a>
            ·
            <a href="/codes">code</a>
        </p>

        <p class="footer-company-name">TheGadegtsMaker © 2023</p>

        <div class="footer-icons">

            <a href="https://instagram.com/the.gadgetsmaker?igshid=YmMyMTA2M2Y=" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
            <a href="https://instagram.com/the.gadgetsmaker?igshid=YmMyMTA2M2Y=" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/in/gautam-kumar-verma-662671223" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
            <a href="https://www.youtube.com/@thegadgetsmaker3509" target="_blank" rel="noopener noreferrer"><i class="bi bi-youtube"></i></a>

        </div>

    </div>
<div id="dev">
    <h5>design and build by &nbsp<a href="https://github.com/mr2space/" style="color:white;text-decoration:underline;" target="_blank" rel="noopener noreferrer"> Mr2space</a> </h5>
</div>
</footer>

    <script src="{% static 'base/navbar.js' %}"></script>
{% block script %}{% endblock %}
</body>
</html>