<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<style>
			@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
		</style>

{{user.username}}
<form action="login/" method="post" >
    {% csrf_token %}
    <input type="text" placeholder="username" name="username" >
    <input type="password" placeholder="password" name="password">
    <input type="submit">
</form>

<form action="register/" method="post"  enctype="multipart/form-data" >
     {% csrf_token %}
    <input type="text" placeholder="username" name="username" >
    <input type="text" placeholder="email" name="email">
    <input type="text" placeholder="fullname" name="fullname">
    <input type="text" placeholder="phone_number" name="phone_number">
    <input type="password" name="password" placeholder="password">
    <input type="text" placeholder="address" name="address">
    <input type="file" name="profile" accept="image/*">
    <button type="submit">Submit</button>
</form>


</body>
</html>