{% extends 'base.html'%}
{% load static %}

{% block title %}
   Verify Otp
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'user/otp.css' %}">
{% endblock %}

{% block root %}
<div class="form-container">
        <div class="form-box" id="otp-form">
            <form action="/auth/otp/" name="otp_form" method="post">
                <h3>Verify Otp</h3>
                 {% csrf_token %}
                <input type="text" name="otp" placeholder="Enter otp" id="otp">
                <button type="submit">verify</button>
            </form>
            <div id="resend"><a href="/auth/resend_otp/">Resend Otp</a></div>
        </div>
        </div>
{% endblock %}