<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    body{
        background: #12151D;
    }
    p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    }

</style>

<p>
    you had successfully purchased our  {{ course }}

We will inform via email  when live classes starts

Thank you {{username}} for your support
</p>


</body>
</html>