<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    body{
        background: #12151D;
    }
    p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    }

</style>


<p>
   Your upi payment request is received for {{ course }}

we will update you when it is accepted

Thank you {{username}} for your support

</p>


</body>
</html>